{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">Get Started</a>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Solutions for VP Filmmakers</h2>
          <p>Mark-Zero is made for Virtual Production and is the only solution that can take Zeiss XD and feed direct to Unreal Engine.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Solutions for Specialty Camera Projects</h2>
          <p>SERVO32 is the ideal solution for managing lens control on 2 to 32 cameras on your camera array or whatever system you are building.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Bespoke solutions that work</h2>
          <p>No vaporware or minimum viable products here. Our reputation is one the line on every shot. With our extensive background in hardware, firmware and mechanics, we can design & build custom made solutions that work.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">UE 4.27 & UE 5 Support</h2>
          <p>With LiveLink plugins for PrestonMDR, SYNCRO-LINK will support direct interface to Preston MDR-2, MDR-3 & MDR-4 to become your Preston Server with Genlock and Timecode support for older MDR-II.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Lens Compatibility</h2>
          <p>Factory Optic will be expanding the use of SYNCRO-LINK to support any and all lens metadata that becomes available.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Built on over 2 decades of Lens Metadata experience</h2>
          <p>If you get a chance, ask us about the early days of embedding FIZ data on an analog audio channel onto Sony HDCam-SR tape back in 2001. Since then, we have built systems that have provided streaming and recorded metadata for many feature film projects.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
